#app
NODE_ENV=development
SECRET=$2y$10$7VLMPzzdz2sq2J62c3Xd3OaDEm/IF1WWUmYn9ts4/hqhzN9WdgjO2
APP_SERVER_URL=http://test-dev.tryasusu.com

#DB
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306
DB_DATABASE=dev